.logo {
  margin: 0 auto;
  padding-left: 40px;
}
.containers {
  background-image: url("../img/weatherImg.jpg");
  width: 100%;
  height: 70%;
  opacity: 0.6;
  padding: 50px;
  margin: 10px;
  color: antiquewhite;
}

.form {
  width: 90%;
  height: 35px;
  color: antiquewhite;
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0;
  border-top: 0;
  display: block;
}
form ::placeholder {
  color: antiquewhite;
  font-size: 23px;
}
#btnSearch {
  display: block;
  margin: -50px 40px 10px auto;
  padding: 10px;
  width: 120px;
  line-height: 1.7;
  border-radius: 15px;
  border: none;
  background-color: rgb(86, 82, 82);
  color: antiquewhite;
  font-size: 19px;
}

.current h1 {
  font-size: 50px;
  padding-top: 25px;
  padding-bottom: 2px;
}
#temp {
  font-size: 40px;
}
sup {
  font-size: 40px;
  padding: 25px 25px 0px 0px;
}
.des {
  padding: 10px;
}

.col {
  position: relative;
  top: -10px;
  left: 20px;

  background-color: rgb(223, 164, 14);
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
}
.condition-heading {
  font-size: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
li {
  list-style-type: none;
  border-bottom: 1px solid grey;
  padding: 10px 0;
  background-color: brown;
}
